:root {
	--dark-green-color: #026786;
	--yellow-color: #ffcd05;
	--light-green--color: #00a3ad;
	--grey-color: #b2b2b2;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Museo Sans Rounded";
}

.main-content {
	background-image: url("./assets/offset_comp_572394.png");
	background-repeat: no-repeat;
	width: 19.532%;
	height: max-content;
}

.top-section {
	padding: 24px 20px 0px;
}

.mobile-container {
	display: flex;
	justify-content: center;
}

.logo {
	justify-content: space-between;
}

.logo-active {
	background-color: var(--light-green--color);
	justify-content: space-between;
	padding: 16px 20px;
}

.header-input {
	border-radius: 25px;
	height: 48px;
	background: transparent;
	border: 1px solid #fff;
	padding: 12px 20px;
}

.header-search {
	background-color: var(--yellow-color);
	height: 35px;
	width: 35px;
	border-radius: 100px;
	padding: 8px 10px;
	top: 22px;
	position: absolute;
	right: 44.8%;
}
.d-flex {
	display: flex;
}

.rightLogo {
	display: flex;
	justify-content: flex-end;
}

.header {
	font-weight: 900;
	font-size: 32px;
	background-color: var(--light-green--color);
	color: white;
	width: fit-content;
}

.searchBar {
	height: 48px;
	width: 100%;
	border-radius: 5px;
	padding: 15px 5px 15px 10px;
}

.searchBar,
input::placeholder {
	color: var(--dark-green-color);
	font-size: 16px;
	font-weight: 500;
	border: none;
}

.searchBar,
input:focus::placeholder {
	color: var(--grey-color);
	font-size: 16px;
	font-weight: 500;
	border: none;
	caret-color: var(--dark-green-color);
}

.cardView {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fff;
	border-radius: 18px;
	box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
	transition: all 0.5s ease-in-out;
	padding: 20px 30px;
}

.sponsors {
	color: var(--dark-green-color);
	font-size: 12px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.sponsors,
img {
	margin-top: 10px;
}

.subHeading {
	font-size: 24px;
	font-weight: 900;
	color: var(--dark-green-color);
	margin-bottom: 20px;
}

.searchIcon {
	background: var(--yellow-color);
	height: 35px;
	width: 35px;
	position: absolute;
	top: 243px;
	left: 56.4%;
	padding: 8px 10px;
	border-radius: 5px;
}

.searchIcon,
i {
	color: var(--dark-green-color);
}

.viewButton {
	height: 48px;
	color: white;
	background-color: var(--dark-green-color);
	border-radius: 7px;
	border: none;
	font-size: 18px;
	margin-top: 30px;
}

.carousalImage {
	height: 181px;
	border-radius: 18px;
	background-image: url("./assets/Group\ 679.png");
}

.carousalBody {
	padding: 6px 10px;
	display: flex;
	justify-content: space-between;
}

.carousal-title {
	display: flex;
	justify-content: space-between;
	font-size: 10px;
	margin-top: 13px;
	font-weight: 600;
	color: var(--dark-green-color);
}

.carousal-rightTitle {
	font-size: 12px;
}

.carousal-rightTitle p {
	margin-right: 5px;
}

.carName {
	color: var(--dark-green-color);
	font-weight: 700;
	font-size: 20;
	display: block;
	margin-top: 5px;
}

.rate {
	color: var(--dark-green-color);
	font-weight: 700;
	font-size: 18;
	display: block;
	margin-top: 5px;
}

.horizontal-scroll-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch !important;
}

.tile {
	flex: 0 0 auto;
	margin-right: 20px;
	width: 100%;
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
	display: none;
}

.menuItems {
	display: flex;
	width: 88px;
	height: 44px;

	background-color: var(--light-green--color);
	float: right;
}

.header-icon {
	color: white;
	font-size: 24px;
	padding: 10px;
}

.searchButton {
	height: 48px;
	color: var(--light-green--color);
	background-color: var(--yellow-color);
	border-radius: 7px;
	border: none;
	font-size: 18px;
	margin-top: 30px;
	width: 100%;
}

.second-content {
	width: 19.532%;
	height: 812px;
	padding: 30px 20px;
	box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
}

.backArrow {
	font-weight: 600;
	color: var(--dark-green-color);
	display: block;
	font-size: 20px;
	margin-bottom: 28px;
}

.pillContainer {
	display: flex;
	border-radius: 25px;
	background-color: #e6e6e6;
	height: 38px;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.pill {
	color: #b2b2b2;
	padding: 12px 15px;
	font-size: 13px;
}

.pill-active {
	color: var(--dark-green-color);
	background-color: white;
	padding: 7px 15px;
	font-size: 13px;
	border-radius: 25px;
	width: 30%;
	height: 30px;
	margin-top: 4px;
	text-align: center;
	position: relative;
	left: -4%;
	font-weight: 700;
}

.border-box {
	border: 1px solid #e6e6e6;
	height: 60px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 10px;
	font-weight: 500;
}

.border-box input {
	border: none;
	margin-top: 4px;
	font-size: 18px;
	font-weight: 500;
}

.date {
	display: flex;
}

.date .border-box {
	width: 48%;
	margin-right: 15px;
}
